/*Navigation Bar**************************************************************/
.sidenav {
	height: 100%;
	width: 4em;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #f8f9fa;
	overflow-x: hidden;
	padding-top: 20px;
}
.sidenav a {
	color: black;
	display: block;
	margin-top: 1.5em;
	margin-bottom: 1.0em;
	text-align: center;
	text-shadow: 0 0 5px rgb(0,0,0,0.5);
	transition: 0.3s;
}
.sidenav i {
	font-size: 1.8em;
}
.sidenav img {
	width: 100%;
	height: auto;
}
.sidenav p {
	color: white;
	font-family: helvetica;
	font-weight: bold;
	font-size: 0.6em;
	margin-top: 0.8em;
	visibility: hidden;
	background-color: rgb(255,255,255,0.5);
	border-width: 2px;
	border-color: rgb(255,255,255,0.5);
	border-radius: 2px;
}
.nav:hover p {
	visibility: visible;
	color: black;
}
.kiwi a:hover {
	color: #40E0D0;
}
.plum a:hover {
    color: #8040E0;
}
.cherry a:hover {
	color: #E04050;
}
.lime a:hover {
	color: #A0E040;
}
/*Background Colours*/
.kiwi {
    background-color: #40E0D080;
}
.plum {
    background-color: #8040E080;
}
.cherry {
    background-color: #E0405080;
}
.lime {
    background-color: #A0E04080;
}

/*Intro************************************************************************/
#intro {
    margin-left: 4em;
    display: flex;
    align-items: center;  
    padding: 2em;
}
#intro-row {
    padding: 2em;
}
#pfp-bg {
    z-index: 0;
    width: inherit;
    height: auto;
    padding-top: 1em;
    padding-bottom: 1em;
}
#pfp {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 50%;
    display: block;
    margin: auto;
    width: 50%;
    height: auto;
    box-shadow: 0 0 10px black; 
    z-index: 1;
}
#rh-intro {
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
#name {
    text-shadow: 0 0 5px #40E0D0;
}
#intro-sentence {
    text-align: center;
}
#quote {
}
#quote-author {
    text-align: right;
}

/*Home************************************************************************/
#home {
	margin-left: 4em;
    padding: 2em;
}
#about-row {
    padding: 2em;
}
#wa-front {
    z-index: 1;
    width: 80%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
    margin: auto;
}
#wa-back {
    z-index: 0;
    width: inherit;
    height: auto;
        padding-top: 1em;
    padding-bottom: 1em;
}
#about-title {
    text-shadow: 0 0 5px #8040E0;
}
#about-info {
    margin: 2em;
    padding: 2em;
}

/*Education*********************************************************************/
#education {
	margin-left: 4em;
    padding: 4em;
}
#edu-row {
}
#edu-text {
    text-shadow: 0 0 5px #E04050;
    margin: auto;
    padding-top: 1em;
    margin-bottom: 0.5em;
}
.edu-logo {
    width: 100%;
    height: auto;
}
.edu-logo-vmss {
    width: 100%;
    height: auto;
}
.logo-cont {
    display: flex;
    justify-content: center;
}
.hs-uni-row {
    padding: 1em;
}
#hs {
    padding-bottom: 2em;
}
/*Skills************************************************************************/
#skills {
    margin-left: 4em;
    padding: 4em;
}
#skills-cont {
    padding: 2em;
}
#skills-title {
    text-shadow: 0 0 5px #A0E040;
}
#lang-lst {
    list-style: none;
}
.langs {
    padding-top: 5px; 
}
.progress-bar {
    background-color: #A0E040;
}

/*Leadership*********************************************************************/
#leadership {
    margin-left: 4em;
    padding: 4em;
}
#leadership-cont {
    padding: 2em;
}
#leadership-title {
    text-shadow: 0 0 5px #40E0D0;
}
.lead-pic {
    width: inherit;
    height: auto;   
    padding: 0.25em;
}
#dinner-ticket {
    background-color: rgb(19,83,111);
    display: flex;
    align-content: center;
    margin-right: 0.5em;
    margin-left: 0.5em;
}
#show-ticket {
    background-color: black;
    display: flex;
    align-content: center;
    margin-right: 0.5em;
    margin-left: 0.5em;
}
.deb-logo {
    background-color: maroon;
}
#deb-logo-cont {
    background-color: maroon;
    padding-bottom: 0.9em;
    padding-top: 1em;
    margin: 0.5em;
    
}
.lead-carousel {
    margin: 0.5em;
}
.lead-cap {
    background-color: #40E0D080;
    border-radius: 5px;
    padding-right: 1em;
    padding-left: 1em;
    color: black;
}
.lead-link {
    color: #40E0D0;
}
/*Experience**********************************************************************/
#experience {
    margin-left: 4em;
    padding: 4em;
}
#experience-cont {
    padding: 2em;
}
#experience-title {
    text-shadow: 0 0 5px #8040E0;
    padding-bottom: 0.5em;
}
.exp-pic {
    width: 70%;
    height: auto;
    margin-left: 15%;
    margin-right: 15%;
}
#cssc-pic {
    background-color: rgb(31,62,87);
}
#mh-pic {
    background-color: rgb(59,70,85);
}
#cr-pic {
    background-color: black;
}
.card-body.exp {
    margin: 0.5em;
}
a.btn-dark:hover {
    color: white;
}
.card-title {
    text-align: center;
}
.exp-btns {
    text-align: center;
}
.exp-caption {
    background-color: #8040E080;
    border-radius: 5px;
    padding-right: 1em;
    padding-left: 1em;
}
/*Projects************************************************************************/
#projects {
    margin-left: 4em;
    padding: 4em;
}
#projects-cont {
    padding: 2em;
}
#projects-title {
    text-shadow: 0 0 5px #E04050;
}
.proj {
    
}
.proj-link {
    color: #E04050;
}
.lang {
    font-family: monospace;
    text-align: right;
    font-weight: 1000;
}
.proj-icon {
    font-size: 150px;
    color: #E0405020;
    text-align: center;
    margin-bottom: 0.25em;
    display: block;
    z-index: -1;
}
/*Volunteer**********************************************************************/
#volunteer {
    margin-left: 4em;
    padding: 4em;
}
#volunteer-cont {
    padding: 2em;
}
#volunteer-title {
    text-shadow: 0 0 5px #A0E040;
}
.vol-card{
}
.vol-pic {
    width: inherit;
    height: auto;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}
#candrive-link {
    color: #A0E040;
}
.vol-h {
    padding: 0;
    margin: 0;
}
/*Interest**********************************************************************/
#interests {
    margin-left: 4em;
    padding: 4em;
}
#interests-cont {
    padding: 2em;
}
#interests-title {
    text-shadow: 0 0 5px #40E0D0;
}
#interests-bg {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    height: auto;
}
/*Awards************************************************************************/
#awards {
    margin-left: 4em;
    padding: 4em;
}
#awards-cont {
    padding: 2em;
}
#awards-title {
    text-shadow: 0 0 5px #8040E0;
}
/*Contact**********************************************************************/
#contact {
    margin-left: 4em;
    display: flex;
    align-items: center;
    padding: 4em;
}
#contact-row {
    padding: 2em;
}
#contact-title {
    text-shadow: 0 0 5px #E04050;
}
.cont {
    color: black;
    text-decoration: none;
    margin: 0.25em;
}
.cont:hover {
    text-decoration: none;
}
.links {
    display: block;
    text-align: center;
}
#cont-links {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin-bottom: 1em;
}
#back-pic-bg {
    z-index: 0;
    width: inherit;
    height: auto;
    padding-top: 1em;
    padding-bottom: 1em;
}
#back-pic {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
    z-index: 1;
    width: 90%;
    height: auto;
    margin: auto;
}
#copyright {
    text-align: center;
}