/*Navigation Bar*/
.sidenav {
	height: 100%;
	width: 4em;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #f8f9fa;
	overflow-x: hidden;
	padding-top: 20px;
}
.sidenav a {
	color: black;
	display: block;
	margin-top: 1.5em;
	margin-bottom: 1.0em;
	text-align: center;
	text-shadow: 0 0 5px rgb(0,0,0,0.5);
	transition: 0.3s;
}
.sidenav i {
	font-size: 1.8em;
}
.sidenav img {
	width: 100%;
	height: auto;
}
.sidenav p {
	color: white;
	font-family: helvetica;
	font-weight: bold;
	font-size: 0.6em;
	margin-top: 0.8em;
	visibility: hidden;
	background-color: rgb(255,255,255,0.5);
	border-width: 2px;
	border-color: rgb(255,255,255,0.5);
	border-radius: 2px;
}
.nav:hover p {
	visibility: visible;
	color: black;
}
.kiwi a:hover {
	color: #40E0D0;
}
.plum a:hover {
    color: #8040E0;
}
.cherry a:hover {
	color: #E04050;
}
.lime a:hover {
	color: #A0E040;
}
/*Background Colours*/
.kiwi {
    background-color: #40E0D080;
}
.plum {
    background-color: #8040E080;
}
.cherry {
    background-color: #E0405080;
}
.lime {
    background-color: #A0E04080;
}

/*Intro*/
#intro {
    margin-left: 4em;
    display: flex;
    align-items: center;  
    padding: 2em;
}
#intro-row {
    padding: 2em;
}
#pfp-bg {
    z-index: 0;
    width: inherit;
    height: auto;
    padding-top: 1em;
    padding-bottom: 1em;
}
#pfp {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 50%;
    display: block;
    margin: auto;
    width: 50%;
    height: auto;
    box-shadow: 0 0 10px black; 
    z-index: 1;
}
#rh-intro {
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
#intro-sentence {
    text-align: center;
}
#quote {
}
#quote-author {
    text-align: right;
}
/*Home*/
#home {
	margin-left: 4em;
}
#name {
    text-shadow: 0 0 5px #40E0D0;
}
/*Education*/
#education {
	margin-left: 4em;
}

/*Skills*/
#skills {
    margin-left: 4em;
}

/*Leadership*/
#leadership {
    margin-left: 4em;
}

/*Experience*/
#experience {
    margin-left: 4em;
}

/*Projects*/
#projects {
    margin-left: 4em;
}

/*Volunteer*/
#volunteer {
    margin-left: 4em;
}

/*Interest*/
#interests {
    margin-left: 4em;
}

/*Awards*/
#awards {
    margin-left: 4em;
}
/*Contact*/
#contact {
    margin-left: 4em;
    display: flex;
    align-items: center;
    padding: 4em;
}
#contact-row {
    padding: 2em;
}
#contact-title {
    text-shadow: 0 0 5px #E04050;
}
#back-pic-bg {
    z-index: 0;
    width: inherit;
    height: auto;
    padding-top: 1em;
    padding-bottom: 1em;
}
#back-pic {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
    z-index: 1;
    width: 70%;
    height: auto;
    margin: auto;
}
#copyright {
    text-align: center;
}